<h3><%= l(:field_tags) %></h3>

<div id='tagcloud'>
  <%
    tag_cloud_in_project(@project) do |tag, factor|
      options = {:style => "font-size: #{10 * factor + 9}pt" }
  %>
      <%= link_to_project_tag_filter(@project, tag, {}, options) %>
  <% end %>
</div>
