<% if project %>
  <%
      context = TaggingPlugin::ContextHelper.context_for(project)
      tags = {}
      Issue.tag_counts_on(context).each {|tag|
        tags[tag.name] = tag.count
      }
      WikiPage.tag_counts_on(context).each {|tag|
        tags[tag.name] = tags[tag.name].to_i + tag.count
      }

      tags = tags.reject {|key,value| value == 0 }
  %>
  <% if tags.size > 0
      min = tags.values.min
      factor = 10.0 / ((tags.values.max - min) + 1)
  %>
    <h3><%= l(:field_tags) %></h3>

    <div id='tagcloud'>
      <% tags.keys.sort.each do |tag| %>
        <%
          count = tags[tag]
          if Setting.plugin_redmine_tagging[:dynamic_font_size] == "1"
            size = 8 + ((count - min) * factor)
            style = {:style => "font-size: #{size}pt" }
          else
            style = {}
          end
        %>
        <%= link_to("#{tag}", {:controller => "search", :action => "index", :id => @project, :q => tag[1..-1], :wiki_pages => true }) %>
      <% end %>
    </div>

  <% end %>

<% end %>
