<tr>
  <th><%= l(:field_tags) %>:</th>
  <td>
  <% tags.each do |tag| %>
    <% tagtitle = tag.gsub(/^#/, '') %>
    <%= render :partial => "tagging/taglink", :locals => {:tag => tag, :project => @project} %>
  <% end %>
  </td>
</tr>