<h3><%= l(:field_tags) %></h3>

<div id='tagcloud'>
  <%
    tag_cloud_in_project(@project) do |tag, factor|
      options = {:style => "font-size: #{10 * factor + 9}pt" }
  %>
    <%= link_to(tag, {:controller => "search", :action => "index", :id => @project, :q => "\"#{tag_without_sharp(tag)}\"", :wiki_pages => true }, options) %>
  <% end %>
</div>
